/* Estilos generales */
body{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;      
    margin: 0;
    padding: 0;
    background: #845ec2 (34,193,195);
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #845ec2;
}

/* Estilos para el contenedor principal*/
#app {
    background-color: #f6d2ee;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}

/* Estilos al input*/
input {
    width: 75%;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Estilos al boton*/
#Botoncomple {
    background:linear-gradient(#c777b9, #f37edd, #fc64e0);
    color: black;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;

}
#Botonborrar {
    background-color: #5ffbf1;
    color: black;
    border: none;
        padding: 12px 24px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease;
    }
    
    button:hover {
        background: linear-gradient(45deg, #f06595, #ff6b6b);
    }


/* Estilos de la lista*/
ul {
    list-style: none;
    padding: 0;
}

/*Estilos a los elementos de la lista*/
li {
    background-color:#ecc2f6;
    padding: 10px;
    width: 400px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Estilos para cuando una tarea este completada*/
li.completed {
    text-decoration: line-through;
    color: rebeccapurple;
}